{% extends "base.html" %}
{% block header %}
{% if status != 16 %}
<meta http-equiv="refresh" content="2" />
{% endif %}
{% endblock %}
{% block title %}Status - Bitmanager{% endblock %}
{% block content %}
      <div class="jumbotron">
        <h1>Instance Status</h1>
        <p class="lead">
        	{% if status == 0 %}
        		Your instance is pending
        	{% elif status == 16 %}
        		Your instance is running: <a href="http://{{ link }}">click here to access</a><br />
        		If you'd like to terminate it, <a href="{{ terminate_link }}">click here</a>
        	{% elif status == 32 %}
        		Your instance is shutting down
        	{% elif status == 48 %}
        		Your instance is terminated
        	{% elif status == 64 %}
        		Your instance is stoppping
        	{% elif status == 80 %}
        		Your instance is stopped
        	{% else%}
        		Your instance couldn't be found - it's likely that it's still being spun up. We'll keep refreshing this page for you til it's ready.
        		<br />If you've terminated the instance then this would also result in us not being able to find it.
        	{% endif %}
        </p>
      </div>
{% endblock %}